body{
    background: linear-gradient(to right,black,transparent),
    url('./Seattle.jpg');
}
#nav_head{
    border: 2px whitesmoke solid;
    text-align: center;
}
#heading{
    text-align: center;
    color: antiquewhite;
}
#fa {
    padding: 20px;
    font-size: 20px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
    border-radius: 50%;
    border: 2px whitesmoke solid;
    float: right;
  }

  #fa:hover{
      color: blue;
  }
  #car{
      border: 2px white solid;
      width: 50em;
      margin-top: 7px;
      background: linear-gradient(to right,black,transparent);
  }

  #pro{
      text-align: center;
      color: antiquewhite;
  }
  #footer{
      color: aliceblue;
      border: 2px whitesmoke solid;
      margin-top: 6px;
  }
  #intro{
      align-content: center;
      text-align: center;
      border: 2px whitesmoke solid;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5px;
  }
  #download{
      width:50%;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }